/* input.css */
@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&family=UnifrakturMaguntia&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=IM+Fell+English:ital@0;1&display=swap');

@layer utilities {
  :root {
    --font-heading: 'UnifrakturMaguntia', serif;

    --font-body: 'IM Fell English', sans;

    /* --font-mono: 'Courier Prime', monospace; */ /* Clean terminal */

    --bg-pattern: #ffedd4
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2318181b' fill-opacity='0.075' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }

  /* Apply variables */
  .font-heading {
    font-family: var(--font-heading, serif);
  }
  .font-body {
    font-family: var(--font-body, serif);
  }
  .font-mono {
    font-family: var(--font-mono, monospace);
  }

  .bg-vintage-pattern {
    background: var(--bg-pattern);
  }
}
