/* input.css */
@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&family=UnifrakturMaguntia&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=IM+Fell+English:ital@0;1&display=swap');

@layer utilities {
  :root {
    --font-heading: 'UnifrakturMaguntia', serif;

    --font-body: 'IM Fell English', sans;

    /* --font-mono: 'Courier Prime', monospace; */ /* Clean terminal */
  }

  /* Apply variables */
  .font-heading {
    font-family: var(--font-heading, serif);
  }
  .font-body {
    font-family: var(--font-body, serif);
    font-size: 1rem;
  }
  .font-mono {
    font-family: var(--font-mono, monospace);
  }
}
